<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sausoni" >
  <test name="Test" preserve-order="true">
  <parameter name="browser" value="Chrome"/>
    <classes>
      <class name="com.sausoni.tests.LoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Sausoni -->
